@import "tailwindcss";

body {
  font-family: 'VT323', monospace;
  background-color: #000;
  color: #0f0;
}

input,
button {
  font-family: 'VT323', monospace;
}

input::placeholder {
  color: #0f0;
}
